<div class="header">
    <span class="title">五行派八字-大運流年流月批命</span>
    <button mat-icon-button matTooltip="複製連結" (click)="copyUrl()">
        <mat-icon>link</mat-icon>
    </button>
</div>
<app-bazi-grid class="bazi-grid" [parent]="this"></app-bazi-grid>
<div class="body col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <mat-accordion multi>
        <mat-expansion-panel class="quick-start-expansion-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    快速上手以及注意事項
                </mat-panel-title>
                <mat-panel-description>
                    使用前請務必閱讀
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
                <li>該軟體主要透過輸入生辰八字，藉由五行生剋原理找出運勢的機會點與危機點進而達到趨吉避凶的目的。</li>
                <li>若您本身是創業主/老闆或是業績型業務人員請特別關注財運的運勢，反之，若您是上班族請特別關注官運的運勢。</li>
                <li>婚姻感情的部分，男生請關注財運的運勢，女生請關注官運的運勢。</li>
                <li>輸入八字，大運/流年/流月都不輸入的情況下，選擇男/女後點擊批命，軟體自動批十柱大運運勢。</li>
                <li>輸入八字以及大運/流年的情況下，選擇男/女後點擊批命，軟體自動批該柱大運這十年的運勢（需特別留意輸入的流年必須為該柱大運的起始流年才有意義）。</li>
                <li>輸入八字以及大運/流年/流月的情況下，選擇男/女後點擊批命，軟體自動批該柱大運該流年裡十二個月的運勢（需特別留意輸入的流月必須為該流年的起始流月才有意義）。</li>
                <li>如果您覺得該軟體對您有幫助, 歡迎透過下方連結多多給予實質贊助, 您的贊助對我來說是最大的支持, 謝謝！</li>
                <li>有任何反饋歡迎聯繫作者：samlin0508@gmail.com</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <app-bazi-result-by-decade *ngFor="let baZiResponse of baZiResponses" [parent]="this" [baZiResponse]="baZiResponse"></app-bazi-result-by-decade>
    <h3 class="thanks-donate">感謝您的贊助</h3>
    <p>如果您覺得該軟體對您有幫助, 歡迎透過下方連結多多給予實質贊助, 您的贊助對我來說是最大的支持, 謝謝！</p>
    <p>台灣的朋友請多多使用下方連結（綠界支付）：</p>
    <div>
        <a href="https://p.ecpay.com.tw/090CB5A" target="_blank"><img class="donate-ecpay col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" src="https://payment.ecpay.com.tw/Upload/QRCode/202306/QRCode_48494c9f-d868-4d53-8218-5af5d2f45e16.png" /></a>
    </div>
    <br>
    <p>海外的朋友請多多使用下方連結（Paypal）：</p>
    <div>
        <a href="https://paypal.me/samlin0508?country.x=TW&locale.x=zh_TW" target="_blank"><img class="donate-paypal col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" src="../assets/donate-paypal.png" /></a>
    </div>
</div>